body {
  display: flex;
  justify-items: center;
  align-items: center;
}

.App {
  text-align: center;
}

#navDiv {
  background-color:black;
  border:solid 2px rgba(255, 0, 0, 0.267) ;
  color: white;
  font-size: 2rem;
  padding: 15px;
  text-align: center;
}

.starships-link {
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius:12px;
  text-decoration: none;
  color: black;
  background-color: grey;
  
}

.starship-p {
  text-align: center;
  font-size: 1.5rem;
}

.starship-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

